*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #478bbf;
}
.logo{
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
.link{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
}
.link:hover{
    border: 1px solid red;
    border-radius: 5px;
}
.mobile-menu-bar{
    display: none;
}
@media screen and (max-width: 600px){
    /* .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        display: block;
        list-style: none;
        background-color: #478bbf;
        left: 0;
        top: 75px;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
    .link{
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-out;
    }
    .link:hover{
        border: none;
        color: rgb(255, 0, 0);
    }
    .mobile-menu-bar{
        position: absolute;
        display: block;
        font-size: 30px;
        border: none;
        background-color:#478bbf;
        color: white;
        outline: none;
        top: 25px;
        right: 25px;
    }

}